@import '../../scss/mixins';
@import '../../scss/variables';

.machine-unit {
  position: relative;

  &--uncommitted {
    .machine-unit__icon {
      border: 1px solid $color-focus;
    }
  }

  &--error {
    .machine-unit__icon {
      border: 1px solid $color-negative;
    }
  }

  &--pending {
    .machine-unit__icon {
      border: 1px solid $color-caution;
    }
  }

  &__icon {
    display: inline-block;
    margin-right: 10px;
    padding: 2px;
    border: 1px solid $color-light;
    border-radius: 50%;
    line-height: 20px;

    &-img {
      @extend %icon--small;
    }
  }

  &__dropdown {
    position: absolute;
    top: 0;
    right: 0;
  }
}
