@import '../../scss/variables';

.juju-shell {
  width: 100%;
  background-color: $color-dark;
  box-shadow: $box-shadow-dark;

  &__header {
    background-color: $color-mid-dark;
    color: $color-light;
    text-align: center;
    line-height: 30px;
    height: 30px;
    position: relative;

    &-actions {
      position: absolute;
      top: 0;
      right: 0;
      line-height: 36px;

      .svg-icon {
        stroke: $color-mid-light;
        fill: $color-mid-light;
        margin-right: 12px;
        cursor: pointer;
      }

      .svg-icon:hover {
        stroke: $color-light;
        fill: $color-light;
      }
    }
  }

  &__terminal {
    width: 100%;

    &--min {
      height: 150px;
    }
  }

  // xterm.scss styles and overrides.
  .terminal .xterm-viewport::-webkit-scrollbar-track {
    background-color: $color-dark;
  }
}
