@import 'node_modules/vanilla-framework/scss/_settings_colors.scss';

// Colours.
$dark-grey: #9fa7aa;
$light-mid-grey: #d4d4d4;
$ubuntu-orange: #dd4814;
$warm-grey: #888;

// Spacing.
$base: 16px;
$border-radius: 2px;

$box-shadow: 0 1px 4.85px 0.15px rgba(0, 0, 0, 0.2);
$box-shadow-dark: 0 1px 4.85px 0.15px rgba(0, 0, 0, 1);
